.contact-container {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 100%;
  height: 100%;
  align-items: flex-start;
}
.cotact-container * {
  position: absolute;
}
.contact-header {
  display: flex;
  font-size: 10rem;
  font-weight: bold;
  width: 100%;
  justify-content: center;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
}

